<div class= "error-container">
        <center>
            <br>
            <h1>404</h1>
            <p>Whoops! We couldn't find that page.</p>
            <br>
            <a href="/"><button type ="submit" class ="read-more-button">Back to Home</button></a>
        </center>
    </div>