<article class="article">
  
  <div class="article-content">
    <h1 class="article-title">
        {{title}}
    </h1>

    <p class="article-author">
      <a href="#">
          {{author}}</a>
    </p>

    <p class="article-markdown">
      {{markdown}}
    </p>
    
    
  </div>
</article>
<!-- Need to pull post data from a database, not a JSON like with assignment 5.
    This file represents the article previews that will populate the home page -->