<!DOCTYPE html>
<html >
    <div class = "thanos">
    <head>
        <meta charset="utf-8">
        <title>290 No Scope</title>
        <link rel="stylesheet" href="/style.css" media="screen">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>

        <script src="/renderArticle.js" charset="utf-8" type="application/javascript"></script>
        <script type="module" src="/index.js" charset="utf-8" defer></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>


<nav class="navbar">
  <ul class="navlist">
  <li class="navitem"><input type="text" id="navbar-search-input" placeholder="Search..."></li>
  <li class="navitem"><a href="/" class="site-title"><h1>290 No Scope</h1></a></li>
</nav>


<body>
    {{{body}}}
</body>
</div>
</html>
