<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>290 No Scope</title>
        <link rel="stylesheet" href="/style.css" media="screen">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/index.js" charset="utf-8" defer></script>
    </head>

<header>
    <a href="#" class="site-title"><h1 class="site-title">290 No Scope</h1></a>

    <nav class ="navbar">
        <ul>
            <li class="navitem navbar-search">
                <input type="text" id="navbar-search-input" placeholder="Search...">
                <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
            </li>
        </ul>
    </nav>
</header>

<body>
    {{{body}}}
</body>
</html>