body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(219, 219, 219);
}

ul{
    list-style: none;
}

.navitem-navbar-search{
    box-sizing: border-box;
   
}

#navbar-search-input{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.site-title{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.create-post-button{
    width: 85px;
    height: 50px;
    font-size: small;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:green;
    color: white;
    text-decoration: none;
}

.article-preview{
  /*display: flex;*/
  margin: 20px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 2px;
  background-color: #fff;
}

.read-more-button{
    width: 80px;
    height: 60px;
    font-size: medium;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    text-decoration: none;
}

/* Text entry fields (New Post/ Edit Post) */
label{
    font-size: 18px;
}

input[type=text-entry], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.cancel-button{
    width: 150px;
    height: 75px;
    font-size: larger;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    margin-right: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: white;
    text-decoration: none;
    
}

.submit-button{
    width: 150px;
    height: 75px;
    font-size: larger;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
    text-decoration: none;
    
}